@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background: url("/coffee-bg.png") no-repeat 0 0 rgb(70, 41, 9);
  background-size: cover;
  background-position: top center;
  overflow-x: hidden;
}

@font-face {
  font-family: "Fingerfood";
  src: url("/fonts/Fingerfood.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.organic-font {
  font-family: "Fingerfood", sans-serif;
}

@font-face {
  font-family: "Bookmark";
  src: url("/fonts/Bookmark.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.bookmark-font {
  font-family: "Bookmark", sans-serif;
}

.mobile-menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background: #f2f2f2;
  z-index: 10;
  animation: menu-slide-in 0.5s forwards;
  left: 100svw;
}

.menu-hide {
  animation: menu-slide-out 0.5s forwards;
}

@keyframes menu-slide-in {
  0% {
    left: 100svw;
  }
  100% {
    left: 0px;
  }
}
@keyframes menu-slide-out {
  0% {
    left: 0;
  }
  100% {
    left: 100svw;
  }
}

@media only screen and (max-width: 600px) {
  body,
  html {
    background-size: 145%;
  }
}
